<!DOCTYPE html>
<html>
	<head>
 <link rel = "stylesheet" type="text/css" href = "/Asset/assets/?file=common.css"/>
		 <script  src="/Asset/assets/?file=description.js"></script>
</head>
<body>		
	
			 <center>
			<form class="color">
				<table border=3 id="compareTable">
					<tr>
						<th id="c1">SYSTEM OUTPUT</th>
						<th id="c1">USER OUTPUT</th>
						<th id="c1">STATUS</th>
					</tr>
					<tr>
						<td id="system">actual</td>
						<td id="user1">output</td>
						<td id="status">PROGRMstatus</td>
					</tr>
				</table>
				 <button type="button" id="pop" onclick="goBack()">Cancel</button>
			</form>
			</center>
			
		

</body>

</html>
