<!DOCTYPE html>
<html>
  <head>
	  
    <meta http-equiv = "content-style-type" content = "text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv = "content-script-type" content = "text/javascript"/>
    <link rel = "stylesheet" type="text/css" href = "/Asset/assets/?file=common.css"/>

	<script  src="/Asset/assets/?file=react.development.js"></script>
	<script src="/Asset/assets/?file=react-dom.development.js"></script>
    
    <script crossorigin src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<script crossorigin src="/Asset/assets/?file=axios.min.js"></script>
	<script  src="https://cdnjs.cloudflare.com/ajax/libs/react-cookie/0.4.9/react-cookie.min.js"></script>

	<script type="text/babel" src="/Asset/assets/?file=index.js"></script> 
	<script  src="/Asset/assets/?file=paging.js"></script> 
	
 
  </head>
 <body>
	<div id = "root"></div>		
 </body>
</html>
