<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>LOGIN PAGE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<META http-equiv="Content-Style-Type" content="text/css">
		<meta http-equiv = "content-script-type" content = "text/javascript"/>
		 <link rel = "stylesheet" type="text/css" href = "/Asset/assets/?file=common.css"/>
		
	<script crossorigin src="/Asset/assets/?file=react.development.js"></script>
	<script crossorigin src="/Asset/assets/?file=react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
		 <script type="text/babel" src="/Asset/assets/?file=loginPage.js"></script>
		<script  src="/Asset/assets/?file=login.js"></script>
	</head>
	<body>
		<div id="wrapper">
		
		</div>	
</body>
</html>	
