body
{
	background-color:cadetblue;
}
div.header 
{
	background-color: black;
	color: white;
	font-size: 26px;
	margin: -6% -7px;
	display: inline-flex;
	width: 100%;
	position: fixed;
	box-sizing: border-box;
}
font.fd
 {
	margin-left: 45%;
	position: absolute;
	margin-top: 26%;
	
}
font.fc
{
	position: absolute;
	margin-top: 26%;
}
button
{
	background-color: black;
	font-size:16px;
	color:white;
	margin: 0px 3px;
	text-decoration:none;
	/*! margin-top: 7%; */
}	
.dropbtn 
{
	background-color: #4CAF50;
color: white;
padding: 7%;
font-size: 11px;
border: none;
cursor: pointer;
width: 100%;
}
.dropdown 
{
	display: inline-block;
	margin-left: auto;
}
.dropdown-content
{
	display: none;
	position: absolute;
	background-color: grey;
	width: 17%;
	font-size: 18px;
}
.dropdown-content a
{
	color: white;
	padding: 5px 5px;
	text-decoration: none;
	display: block;
	float:right;
	font-size:80%	
}
.dropdown:hover .dropdown-content 
{
	display: block;
}
.header-img
{
	width: 25%;
margin-right: 29%;
margin-top: -3%;
}
div.container 
{
	    /*! border: 2px solid gray; */
    color: black;
    background-color: cadetblue;
    margin-bottom: 65px;
    height: 70%;
    margin-top: 6%;
}



input[type=text], input[type=password]  
{
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	float: left;
}
	 

table {
margin-top: -59%;
}

#email {
    width: 49%;
    padding: 8px;
}
#move-top 
{
	margin-top: -12%;
}

div.footer 
{
	border: 2px solid;
background-color: black;
color: white;
width: 100%;
position: fixed;
bottom: 0;
margin: 0 -10px;
}

#top 
{
	float:left;
	margin-top: 1%;
}
#move
{
	float:left;
	margin-left:-119px;
}		

div.move-right
{
	float:right;
}
#user {
   margin-left: 55%;
margin-top: -19%;

}
#move-text{
	width: 25%;
margin-right: 28%
}

#move-text1 {
    margin-left: 61%;
margin-top: -19%;
}
.header-img1 {
   width: 21%;
margin-top: 2%;
margin-left: 27%;
}
#move-text2 {
    margin-left: 49%;
margin-top: -20%;
}
.header-img2 {
    width: 24%;
margin-top: -8%;
margin-left: 19%;
}
#move-text3 {
   margin-left: 49%;
margin-top: -14%;
}
.header-img3 {
    width: 29%;
margin-top: -1%;
margin-left: 15%;
}
#move-text4 {
   margin-left: 45%;
margin-top: -16%;
font-size: 13px;
}
.header-img4 {
    width: 27%;
margin-top: -6%;
margin-left: 16%;
}
#move-text5 {
    margin-left: 44%;
margin-top: -16%;
font-size: 11px;
}
.header-img5 {
    width: 26%;
margin-top: -2%;
margin-left: 16%;
}
.footer-img
{
	height:40px;
	width:40px;
}
#namemessage {
  margin-right: -19%;
}

#id {
  float: left;
  color: red;
}
#id {
  /*! float: left; */
}
label {
  float: left;
}
#address {
    float: left;
    width: 29%;
}

#submit {
    margin-top: 7%;
}
